/* CUSTOM PROPERTY */
:root{
  --brand-color: rgb(222,46,84);
  --bg-color: #0EB4C1;
  --brand-text-color: #ffffff;
  --text-font:"Open Sans", sans-serif;
  --heading-font: "Open Sans Condensed", sans-serif;
}
/* FONTS */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-condensed-v15-latin-700.woff2') format('woff2'),
       url('../fonts/open-sans-condensed-v15-latin-700.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v27-latin-regular.woff2') format('woff2'),
       url('../fonts/open-sans-v27-latin-regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v27-latin-600.woff2') format('woff2'),
       url('../fonts/open-sans-v27-latin-600.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v27-latin-700.woff2') format('woff2'),
       url('../fonts/open-sans-v27-latin-700.woff') format('woff');
  font-display: swap;
}
/* GLOBAL STYLES */
* {
  box-sizing: border-box;
}
body {
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
*:focus {
  outline: 2px dotted var(--brand-color);
  outline-offset: 2px;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 50px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
h2 {
  font-family: var(--heading-font);
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
}
.button {
  display: inline-block;
  font-family: var(--heading-font);
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--brand-text-color);
  padding: 12px 24px;
  background-color: var(--brand-color);
  border: 2px solid var(--brand-color);
  border-radius: 8px;
  transition: color 0.4s ease, background-color 0.4s ease, border 0.4s ease;
}
.button:hover {
  color: var(--brand-color);
  background-color: var(--brand-text-color);
  border: 2px solid var(--brand-color);
}
.button:active {
  color: var(--brand-color);
  opacity: 0.6;
}

/* SITE HEADER */
.site-header {
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-link {
  display: flex;
  align-items: center;
  transition: opacity 0.4s ease;
}
.logo-text{
  margin-left: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  color: #222222;
  transition: color 0.4s ease, opacity 0.4s ease;
}
.logo-link:hover .logo-text{
  color:var(--brand-color);
}
.logo-link:active .logo-text{
  opacity: 0.6;
}
.logo-link:active{
  opacity: 0.6;
}
.sitenav-items {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sitenav-item:not(:last-child) {
  margin-right: 32px;
}
.sitenav-item-link {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 2px;
  color: #222222;
  text-transform: uppercase;
  transition: color 0.4s ease, opacity 0.4s ease;
}
.sitenav-item-link:hover {
  color: var(--brand-color);
}
.sitenav-item-link:active {
  opacity: 0.6;
  color: var(--brand-color);
}

/* SITE HERO */
.hero {
  margin-bottom: 120px;
  background-color: var(--bg-color);
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.hero-heading {
  width: 500px;
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--brand-text-color);
}
.hero-content{
  max-width: 440px;
  width: 100%;
}
.hero-content-text {
  margin-top: 0;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 27px;
  color: var(--brand-text-color);
}
.hero-button {
  transition: opacity 0.4s ease;
}
.hero-button:hover {
  opacity: 0.8;
  color: var(--brand-text-color);
  background-color: var(--brand-color);
}
.hero-button:active {
  opacity: 0.6;
}
.hero-img {
  display: block;
  width: 423px;
  height: 504px;
}

/* SERVICES */
.services {
  padding-bottom: 120px;
}
.services-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-heading {
  margin-top: 0;
  margin-bottom: 56px;
  text-align: center;
}
.services-list {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
}
.services-item{
  display: flex;
  align-items: center;
}
.services-item:not(:last-child){
  margin-bottom: 80px;
}
.services-item-right{
  max-width: 600px;
  width: 100%;
}
.services-item-img {
  width: 200px;
  height: 200px;
  margin-right: 54px;
  box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
  border-radius: 24px;
}
.services-item-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: var(--heading-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #222222;
}
.services-item-text {
  margin-top: 0;
  margin-bottom: 0;
  color: #444;
}
.services-button-box {
  text-align: center;
}
.services-button:hover {
  color: var(--brand-color);
  background-color: var(--brand-text-color);
  border: 2px solid var(--brand-color);
}
.services-button:active {
  opacity: 0.6;
}

/* CONTACTS */
.contacts {
  background-color: var(--bg-color);
}
.contacts .container {
  display: flex;
  justify-content: center;
  padding-top: 64px;
  padding-bottom: 64px;
}
.contacts h2 {
  text-align: center;
  color: var(--brand-text-color);
  margin-bottom: 52px;
  margin-top: 0;
}
.contacts a {
  font-family: var(--heading-font);
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  color: var(--brand-text-color);
  padding: 12px 24px;
  border: 2px solid var(--brand-text-color);
  border-radius: 8px;
  text-transform: uppercase;
  transition: color 0.4s ease, background-color 0.4s ease, border 0.4s ease,
    opacity 0.4s ease;
}
.contacts a:hover {
  color: var(--brand-text-color);
  background-color: var(--brand-color);
  border: 2px solid var(--brand-color);
}
.contacts a:active {
  color: var(--brand-text-color);
  background-color: var(--brand-color);
  border: 2px solid var(--brand-color);
  opacity: 0.6;
}
.contacts-btn-1 {
  margin-right: 88px;
}

/* FOOTER */
footer {
  background-color: #000000;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer .site-logo{
  display: flex;
  align-items: center;
}
footer .logo-icon{
  margin-right: 16px;
}
footer .logo-link {
  color: var(--brand-text-color);
  transition: color 0.4s ease;
}
footer .logo-link span{
  color: var(--brand-text-color);
}
footer a:hover {
  color: var(--brand-color);
}
footer .items a {
  color: var(--brand-text-color);
}
footer .items a:hover {
  color: var(--brand-color);
}
footer a:active {
  opacity: 0.6;
}
