@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-condensed-v15-latin-700.woff2') format('woff2'),
       url('../fonts/open-sans-condensed-v15-latin-700.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v27-latin-regular.woff2') format('woff2'),
       url('../fonts/open-sans-v27-latin-regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v27-latin-600.woff2') format('woff2'),
       url('../fonts/open-sans-v27-latin-600.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v27-latin-700.woff2') format('woff2'),
       url('../fonts/open-sans-v27-latin-700.woff') format('woff');
  font-display: swap;
}
/* GLOBAL STYLES */
:root{
  --brand-color: rgb(222,46,84);
  --bg-color: #0EB4C1;
  --brand-text-color: #ffffff;
  --text-font:"Open Sans", sans-serif;
  --heading-font: "Open Sans Condensed", sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
*:focus {
  outline: 2px dotted var(--brand-color);
  outline-offset: 2px;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 50px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
h2 {
  font-family: var(--heading-font);
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
}

/* SITE HEADER */
header {
  padding-top: 10px;
  padding-bottom: 10px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-link {
  display: flex;
  align-items: center;
}

.logo-link span{
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  margin-left: 16px;
  color: #222222;
  transition: color 0.4s ease, opacity 0.4s ease;


}
.logo-link:hover span{
  color:var(--brand-color);

}

.logo-link:active span{
  opacity: 0.6;

}
.logo-link:active{
  opacity: 1;
}

.items {
  list-style: none;
  display: flex;
}
.items li:not(:nth-child(5)) {
  margin-right: 32px;
}
.items a {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 2px;
  color: #222222;
  text-transform: uppercase;
  transition: color 0.4s ease, opacity 0.4s ease;
}
.btn-1 {
  font-family: var(--heading-font);
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--brand-text-color);
  padding: 12px 24px;
  background-color: var(--brand-color);
  border: 2px solid var(--brand-color);
  border-radius: 8px;
  transition: color 0.4s ease, background-color 0.4s ease, border 0.4s ease;
}
header a:hover {
  color: var(--brand-color);
}
header a:active {
  opacity: 0.6;
  color: var(--brand-color);
}
header .btn-1:hover {
  color: var(--brand-color);
  background-color: var(--brand-text-color);
  border: 2px solid var(--brand-color);
}
header .btn-1:active {
  color: var(--brand-color);
  opacity: 0.6;
}

/* SITE HERO */
.hero {
  background-color: var(--bg-color);
  margin-bottom: 120px;
}
.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.hero-text h2 {
  width: 500px;
  color: var(--brand-text-color);
  margin-bottom: 16px;
  margin-top: 0;
}
.hero-text p {
  width: 440px;
  font-size: 18px;
  line-height: 27px;
  color: var(--brand-text-color);
  margin-bottom: 36px;
}
.hero-text .btn-1 {
  display: inline-block;
  transition: opacity 0.4s ease;
}
.hero-text .btn-1:hover {
  color: var(--brand-text-color);
  opacity: 0.8;
}
.hero-text .btn-1:active {
  opacity: 0.6;
}
.hero img {
  display: block;
}

/* SERVICES */
.services {
  margin-bottom: 120px;
}
.services h2 {
  text-align: center;
  margin-bottom: 56px;
}
.services .container {
  padding: 0 170px;
}
.services-box {
  display: flex;
}
.services-box img {
  margin-right: 54px;
}
.services-box-text {
  padding-top: 8px;
  width: 600px;
}
.services-box h3 {
  font-family: var(--heading-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #222222;
  margin-top: 0;
}
.services-box p {
  color: #444444;
}
.services-btn {
  text-align: center;
}
.services-btn .btn-1 {
  display: inline-block;
}
.services-btn .btn-1:hover {
  color: var(--brand-color);
  background-color: var(--brand-text-color);
  border: 2px solid var(--brand-color);
}
.services-btn .btn-1:active {
  opacity: 0.6;
}
.end {
  margin-bottom: 60px;
}

/* CONTACTS */
.contacts {
  background-color: var(--bg-color);
}
.contacts .container {
  display: flex;
  justify-content: center;
  padding-top: 64px;
  padding-bottom: 64px;
}
.contacts h2 {
  text-align: center;
  color: var(--brand-text-color);
  margin-bottom: 52px;
  margin-top: 0;
}
.contacts a {
  font-family: var(--heading-font);
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  color: var(--brand-text-color);
  padding: 12px 24px;
  border: 2px solid var(--brand-text-color);
  border-radius: 8px;
  text-transform: uppercase;
  transition: color 0.4s ease, background-color 0.4s ease, border 0.4s ease,
    opacity 0.4s ease;
}
.contacts a:hover {
  color: var(--brand-text-color);
  background-color: var(--brand-color);
  border: 2px solid var(--brand-color);
}
.contacts a:active {
  color: var(--brand-text-color);
  background-color: var(--brand-color);
  border: 2px solid var(--brand-color);
  opacity: 0.6;
}
.contacts-btn-1 {
  margin-right: 88px;
}

/* FOOTER */
footer {
  background-color: #000000;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer .site-logo{
  display: flex;
  align-items: center;
}
footer .logo-icon{
  margin-right: 16px;
}
footer .logo-link {
  color: var(--brand-text-color);
  transition: color 0.4s ease;
}
footer .logo-link span{
  color: var(--brand-text-color);
}
footer a:hover {
  color: var(--brand-color);
}
footer .items a {
  color: var(--brand-text-color);
}
footer .items a:hover {
  color: var(--brand-color);
}
footer a:active {
  opacity: 0.6;
}
